cypress/integration/examples
cypress.env.json

/cypress/videos
/cypress/screenshots
./cypress/downloads/*
./cypress/reports/*
.vscode
.idea
.npmrc
/.lh

node_modules/
*.log
*.tmp
log/*
test-results/
*.html
